
  <label>
    <input type="file" class="choose-file" [multiple]="1" accept="image/*" (change)="onFileSelected($event)" crossOrigin=""/>
      <!--
        <img *ngIf="aluno.Fotos != null && aluno.Fotos.length" class="foto-aluno" [src]="aluno.Fotos[0].url" crossOrigin="" >
      -->
      <div>
        <img *ngIf="aluno.Fotos[0] == undefined" class="foto-aluno"  crossOrigin="" src='https://cdn.icon-icons.com/icons2/1141/PNG/512/1486395884-account_80606.png'>
        <img *ngIf="aluno.Fotos != null && aluno.Fotos.length" class="foto-aluno" [src]="aluno.Fotos[0].url" crossOrigin="" >
      </div>



      <button type="button" class="foto-button" (click)="uploadFoto()" >Adicionar Foto</button>
  </label>


<form #form>

  <div class="formulario">
    <input type="text" name="nome" [(ngModel)]="aluno.nome" placeholder="Nome"/>
  </div>

  <div class="formulario">
    <input type="text" name="sobrenome" [(ngModel)]="aluno.sobrenome" placeholder="Sobrenome"/>
  </div>

  <div class="formulario">
    <input type="email" name="email" [(ngModel)]="aluno.email" placeholder="E-mail"/>
  </div>

  <div class="formulario">
    <input type="text" name="idade" [(ngModel)]="aluno.idade" placeholder="Idade"/>
  </div>

  <div class="formulario">
    <input type="text" name="peso" [(ngModel)]="aluno.peso" placeholder="Peso"/>
  </div>

  <div class="formulario">
    <input type="text" name="altura" [(ngModel)]="aluno.altura" placeholder="Altura"/>
  </div>

  <button type="button" (click)="editaAluno(aluno.id)" >Atualizar</button>
  <button type="button" (click)="DeletaAluno(aluno.id)" >Excluir</button>

</form>
