.foto-aluno {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}




.aluno-container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3px 10px 15px;
}



span{
  width: 100px;

  text-align: left;
  justify-content: left;
  padding: 3px;
}

span.aluno-email{
  margin-right: 75px;
  justify-content: right;
}


.btn-detalhes{
  background-color: #0095ff;
  color: #fff;
  font-size: 13px;
  margin: 0;
  padding: 8px .8em;
}
