<h2>Alunos</h2>
<button routerLink="/novo">Novo Aluno</button>


  <div class="title">
    <span>Foto</span>
    <span>ID</span>
    <span>Nome</span>
    <span>Email</span>
  </div>

  <div class="container" *ngFor="let aluno of alunos">
    <span><img class="foto-aluno" [src]="aluno.Fotos[0]?.url" crossOrigin=""></span>
    <span>{{ aluno.id }}</span>
    <span>{{ aluno.nome }}</span>
    <span>{{ aluno.email }}</span>
    <span> <button class="btn-detalhes" [routerLink]="['detalhar','aluno.id']">Detalhar</button></span>


  </div>
