<h2>Alunos</h2>

<form method="post">

  <div class="formulario">
    <label for="nome">Nome:</label>
    <input type="text" />
  </div>

  <div class="formulario">
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" />
  </div>

  <div class="formulario">
    <label for="email">E-mail:</label>
    <input type="email"/>
  </div>

  <div class="formulario">
    <label for="idade">Idade:</label>
    <input type="number"/>
  </div>

  <div class="formulario">
    <label for="peso">Peso:</label>
    <input type="number"/>
  </div>

  <div class="formulario">
    <label for="altura">Altura:</label>
    <input type="number"/>
  </div>

</form>
