<h2>Alunos</h2>

<form #form>

  <div class="formulario">
    <input type="text" name="nome" [(ngModel)]="aluno.nome" placeholder="Nome"/>
  </div>

  <div class="formulario">
    <input type="text" name="sobrenome" [(ngModel)]="aluno.sobrenome" placeholder="Sobrenome"/>
  </div>

  <div class="formulario">
    <input type="email" name="email" [(ngModel)]="aluno.email" placeholder="E-mail"/>
  </div>

  <div class="formulario">
    <input type="text" name="idade" [(ngModel)]="aluno.idade" placeholder="Idade"/>
  </div>

  <div class="formulario">
    <input type="text" name="peso" [(ngModel)]="aluno.peso" placeholder="Peso"/>
  </div>

  <div class="formulario">
    <input type="text" name="altura" [(ngModel)]="aluno.altura" placeholder="Altura"/>
  </div>

  <button type="button" (click)="addAluno()" >Cadastrar</button>

</form>
